* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: black;
}
.menu {
  color: #45ffca;
  position: absolute;
  left: 0;
  margin-left: 2rem;
}

.navigation1 {
  position: relative;
  background-color: #070f2b;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  border-radius: 7px;
  margin-top: 1rem;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}
.navigation1 a {
  color: #45ffca;
  text-decoration: none;
  display: inline-flex;
}
.navigation1 li {
  list-style: none;
  display: inline-flex;
  font-size: 20px;
  margin-right: 3rem;
}

#headers {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem auto auto;
  grid-column: 2/3;
  grid-gap: 1rem;
  padding: 3rem;
  margin-top: 3rem;
}
#headers img {
  width: 80%;
  height: 80%;
  grid-row: 2/3;
  grid-column: 2/3;
}
#headers p {
  grid-column: 1/2;
  grid-row: 2/3;
  color: ;
  margin: 0;
  padding: 10px;
  border: 2px #402e7a solid;
  background-color: #240750;
}
#header {
    color: rgb(253, 4, 54);
  grid-column: 1 / -1;
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.span{
    color:  #00FFFB;
}