* {
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url(pic/StockCake-Laptop\ Amidst\ Greenery_1722004912.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  color: #45ffca;
  position: absolute;
  left: 0;
  margin-left: 0.8rem;
}

.navigation1 {
  position: relative;
  background-color: #070f2b;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  border-radius: 7px;
  margin-top: 1rem;
  align-items: center;

  margin-top: 2rem;
}
.navigation1 a {
  color: #45ffca;
  text-decoration: none;
  display: inline-flex;
}
.navigation1 li {
  list-style: none;
  display: inline-flex;
  font-size: 20px;
  margin-right: 3rem;
}

#headers {
  background-color: rgba(0, 0, 0, 0.863);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem auto auto;
  grid-column: 2/3;
  grid-gap: 1rem;
  padding: 3rem;
  margin-top: 3rem;
  border-radius: 10px;
}
#headers img {
  width: 80%;
  height: 80%;
  grid-row: 2/3;
  grid-column: 2/3;
}
#headers p {
  grid-column: 1/2;
  grid-row: 2/3;
  color: ;
  margin: 0;
  padding: 10px;
  color: white;
  font-weight: ;
  letter-spacing: 2px;
  word-spacing: 3px;
}
#header {
  color: rgb(253, 4, 54);
  grid-column: 1 / -1;
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.span {
  color: #00fffb;
}

#my-expirience {
  height: 70vh;
}
#contact-me {
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap a {
  text-decoration: none;
  font-size: 2.5rem;
}
.icon {
  width: 3rem;
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;

  overflow: hidden;
  border-radius: 5px;
  margin: 0.7rem;
}
.icon :hover {
  scale: 1.2;
}
.fa-brands{
  background-color: #fff;
  border-radius: 3px;
}
.fa-instagram {
  color: #E1306C;;
}

.fa-instagram:hover {
  color: #E1306C;
  background-color: #fff;
}

.fa-x-twitter {
  color: #1da1f2;
}

.fa-x-twitter:hover {
  color: #1da1f2;
  background-color: #fff;
}

.fa-whatsapp {
  color: #25d366;
}

.fa-whatsapp:hover {
  color: #25d366;
  background-color: #fff;
}

.fa-github {
  color: #181717;
}

.fa-github:hover {
  color: #181717;
  background-color: #fff;
}
fa-google